    .panel {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    /* panel form */
    .panel-form {
      flex: 60%;
    }

    .div-img {
      flex:60% ;
    }
    
    .div-title{
      display: flex;
      flex:40% ;
      justify-content: center;
      align-items: center;
    }
    
    .text-title {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 15px;
    }
    
    .space {
      margin-top: 6%;
      margin-bottom: 4%; 
    }
    
    .space-img {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 20%;
    }
    
    .btn {
      height: 37px;
    }
    
    .forget-create {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .forget-text {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 12px;
    }


    /* panel options */
    .panel-options{
      justify-content: center;
      align-items: center;
      flex: 40%;
    }

    .Login-with {
      display: flex;
      justify-content: center;
      height: 25%;
      padding-top: 10px;
    }

    .facebook-login {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 25%;
    }

    .google-login {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 25%;
    }

    .gg-icon {
      width: 40px;
      height: 40px;
    }

    .div-img-gg {
      margin-left: -5%;
      margin-right: 2%; 
    }

    .line{
      display: flex;
      height: 10%;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .line-separator {
      height: 5%;
      width: 70%;
      background-color: rgb(233, 222, 222);
    }

