.container {
    background-color: bisque;
    padding: 5px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.icon {
    margin-left: 10px;
    width: 50px;
}

a {
  color: black;
}